@using Biz.Lib.TACM.Resources.Resources
@model Biz.Lib.TACM.QuanLyNhanVien.Model.NhanVienModel

<h3 class="text-uppercase mb-2">@ViewText.TITLE_DOIMATKHAU</h3>
<div class="card p-4" style="min-width:500px; min-height:300px">
</div>
