@model Biz.Lib.TACM.ThuLy.Model.GhiChuPhanCongModel
<div class="card-block">
    <div class="card">
        <div class="card-block" style="height: 150px; overflow-y: scroll">
            @Html.Raw(Model.NoiDungGhiChu)
        </div>
    </div>
</div>