@using Biz.Lib.TACM.Resources.Resources

@*move to Sau Xet Xu
<div class="mt-3">
    <div class="mb-3">
        <span>
            <i class="fa fa-print fa-lg" aria-hidden="true"></i>
            <a class="ml-2 underline-custom" href="#">@ViewText.TITLE_INBIA_HOSO</a>
        </span>
    </div>
    <div class="mb-3">
        <span>
            <i class="fa fa-print fa-lg" aria-hidden="true"></i>
            <a class="ml-2 underline-custom" href="#">@ViewText.TITLE_SONGHIEPVU</a>
        </span>
    </div>
</div>*@